@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: black;
  margin-bottom: 20px;
}

.recent-text {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
  color: white;
}

.popular-text {
  text-align: center;
  margin-top: 20px; 
  margin-bottom: 40px;
  color: white;
}


nav{
  background: #171c24;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #ff3d00;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){

  body.nav-active {
    overflow: hidden;
  }
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
   background-image: url('/images/logo.jpg');
   background-size: contain;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}



.anime-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anime-item img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 10px; 
  transition: transform 0.3s ease; 
}

.anime-item:hover img {
  border: 2px solid white;
  transform: scale(1.05); 
  cursor: pointer;
}

.anime-item p {
  color: white;
  margin-top: 10px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 3em;
}

.anime-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 10px;
  justify-content: center; 
  margin: 0 auto; 
  max-width: 1200px;
  padding: 0; 
}


.anime-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.anime-item img {
  max-width: 100%;
  height: auto;
  max-height: 200px; /* Adjust the maximum height of the images as needed */
  border-radius: 10px; /* Add border radius */
  transition: transform 0.3s ease; /* Add transition for smooth hover effect */
}

.anime-item:hover img {
  border: 2px solid white;
  transform: scale(1.05); /* Scale up the image on hover */
  cursor: pointer;
}


.anime-item p {
  color: white;
  margin-top: 10px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit the name to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* Loader */
.loader {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ff9a00;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  z-index: 9999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Hide loader by default */
.loader {
  display: none;
}

/* next and prev button */
.navigation-container {
  display: flex;
  font-size: 6px; /* Adjust the font size */
  padding: 8px 16px; /* Adjust the padding */
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 20px; /* Add some space from the top */
}

.navigation-container p {
  font-size: 10px;
  font-family: Source Code Pro;
}

.navigation-container button {
  padding: 10px 20px;
  background-color: #ff9a00;
  outline: none;
  font-family: Source Code Pro;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px; /* Add some space between the buttons */
  transition: background-color 0.3s ease;
}

.navigation-container button:hover {
  background-color: #ff0000;
}


/* Add styles for the Upcoming text */
.upcoming-text {
  text-align: center;
  margin-top: 30px; /* Adjust this value as needed */
  margin-bottom: 40px;
  color: white;
}

/* Upcoming Anime Container */
.upcoming-anime-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 20px 0; /* Adjust padding as needed */
  margin: 0 auto; /* Center the container horizontally */
  max-width: 1200px; /* Set a maximum width for the container */
}

/* Adjustments for the upcoming anime item */
.upcoming-anime-item {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  flex: 0 0 auto; /* Prevent items from shrinking */
  margin-right: 10px; /* Add space between items */
  width: 200px; /* Set a fixed width for each item */
}

.upcoming-anime-item img {
  max-width: 100%;
  border: 3px solid white;
  height: auto;
  max-height: 200px; /* Adjust the maximum height of the images as needed */
  border-radius: 10px; /* Add border radius */
  transition: transform 0.3s ease; /* Add transition for smooth hover effect */
}

.upcoming-anime-item:hover img {
  border: 2px solid white;
  transform: scale(1.05); /* Scale up the image on hover */
  cursor: pointer;
}

.upcoming-anime-item p {
  color: white;
  margin-top: 10px;
  text-align: center;
  overflow: hidden; /* Hide overflow text */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Allow for up to 3 lines */
  -webkit-box-orient: vertical;
  word-wrap: break-word; /* Add line break for long words */
}

/* Customize the scrollbar */
.upcoming-anime-container::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.upcoming-anime-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* Set the color of the thumb */
  border-radius: 10px; /* Add border radius */
}

.upcoming-anime-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Set the color of the thumb on hover */
}

/* Recent Anime Container */
.recent-anime-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 20px 0; /* Adjust padding as needed */
  margin: 0 auto; /* Center the container horizontally */
  max-width: 1200px; /* Set a maximum width for the container */
}

/* Adjustments for the recent anime item */
.recent-anime-item {
  flex: 0 0 auto; /* Prevent items from shrinking */
  margin-right: 10px; /* Add space between items */
  width: 200px; /* Set a fixed width for each item */
}

.recent-anime-item img {
  max-width: 100%;
  border: 3px solid white;
  height: auto;
  max-height: 200px; /* Adjust the maximum height of the images as needed */
  border-radius: 10px; /* Add border radius */
  transition: transform 0.3s ease; /* Add transition for smooth hover effect */
}

.recent-anime-item:hover img {
  border: 2px solid white;
  transform: scale(1.05); /* Scale up the image on hover */
  cursor: pointer;
}

.recent-anime-item p {
  color: white;
  margin-top: 10px;
  text-align: center;
  overflow: hidden; /* Hide overflow text */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Allow for up to 3 lines */
  -webkit-box-orient: vertical;
  word-wrap: break-word; /* Add line break for long words */
}

/* Customize the scrollbar */
.recent-anime-container::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.recent-anime-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* Set the color of the thumb */
  border-radius: 10px; /* Add border radius */
}

.recent-anime-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Set the color of the thumb on hover */
}